<%= form_with(model: [ :admin, @event], multipart: true) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-8">
    <div class="card">
      <div class="header">
        <h4 class="title">Event</h4>
      </div>
      <div class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :title %>
                <%= f.text_field :title, required: true,  autofocus: true, class: "form-control"%>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :venue_short_description %>
                <%= f.text_field :venue_short_description, class: "form-control"%>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <%= f.label :start_time  %>
                <%= f.text_field :start_time, id: 'event-start-time' %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :video_url %>
                <%= f.text_area :video_url, class: "form-control"%>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="upload-avatar">
                 <%= f.file_field :background_image, accept: 'image/png,image/gif,image/jpeg', value: 'Upload', class: 'load-image'%>
                 Upload Background Image
               </label>
               <div id="preview-image">
                 <% if @event.background_image? %>
                    <%= image_tag(@event&.background_image.thumb.url) %>
                   <% end %>
               </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :venue_description %>
                <%= f.text_field :venue_description, class: "form-control"%>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :map_url %>
                <%= f.text_field :map_url, class: "form-control"%>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :status %>
                 <%= f.select(:status, [["Active", "active"], ["Inactive", "inactive"]], {}, {class: "form-control"}) %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :venue_description %>
                <%= f.text_area :venue_description, class: "form-control"%>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :description %>
                <%= f.text_area :description, class: "form-control"%>
              </div>
            </div>
          </div>
              <div class="row">
                  <div class="form-group">
                    <%= f.fields_for  :event_attachments do |event_attachment| %>
                      <%= render  'event_attachment_fields', f: event_attachment %>
                    <% end %>
                    <%= link_to_add_association 'Add Image', f, :event_attachments, partial: 'event_attachment_fields' %>
                  </div>
              </div>

          <%= f.submit 'Save Event' , class: 'btn btn-info btn-fill pull-right'%>
          <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card-user" id="schedules-content">
      <%= f.fields_for :schedules do |schedule_form| %>
         <%= render partial: 'admin/events/schedule_fields', locals: { f: schedule_form } %>
       <% end %>
     </div>
     <%= link_to_add_association "Add Day", f, :schedules, partial: 'admin/events/schedule_fields', class: "btn btn-round btn-fill btn-info",
     :"data-association-insertion-node" => "#schedules-content",
     :"data-association-insertion-method" => :after %>
    </div>
  </div>

<% end %>
