<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header text-center">
        <h4 class="title">Rails Girls Admin</h4>
        <p class="category"></p>
        <br>
      </div>
      <div class="content table-responsive table-full-width">
        <% if @voluntaries.present? %>
          <table id="voluntaries" class="table table-hover">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Correo/Área de Interés</th>
                <th>Opciones</th>
              </tr>
            </thead>

            <tbody>
              <% @voluntaries.each do |voluntary| %>
                <tr>
                  <td width="400"><%= voluntary.name %></td>
                  <td width="600">
                    <%= voluntary.email %>
                  </br>
                  <%= voluntary.interest_area %></td>
                <td><%= link_to 'Editar', edit_admin_voluntary_path(voluntary) %>/<%= link_to 'Eliminar', admin_voluntary_path(voluntary), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>Aún no hay voluntarios.</p>
      <% end %>
      <%= link_to 'Crear Voluntario', new_admin_voluntary_path, class: "btn btn-primary"%>
    </div>
  </div>
</div>
</div>
