<!-- Start Header -->
<header id="mu-hero" class="" role="banner">
  <!-- Start menu  -->
  <nav class="col-12 navbar navbar-fixed-top navbar-default mu-navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#header-list" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Logo -->
        <a class="navbar-brand" href="">Rails Grils CR</a>


      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="header-list">
        <ul class="nav navbar-nav mu-menu navbar-right">
          <li>
            <%= link_to 'Home', index_page_url %>
          </li>
          <li>
            <%= link_to 'About', about_page_url %>
          </li>
          <li>
            <%= link_to 'Schedule', schedule_page_url %>
          </li>
          <li>
            <%= link_to 'Speakers', speakers_page_url %>
          </li>
          <li>
            <%= link_to 'Sponsors', sponsors_page_url %>
          </li>
          <li>
            <%= link_to 'Contact', contact_page_url %>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <!-- End menu -->

  <div class="mu-hero-overlay">
    <div class="container">
      <div class="mu-hero-area">

        <!-- Start hero featured area -->
        <div class="mu-hero-featured-area">
          <!-- Start center Logo -->
          <div class="mu-logo-area">
            <!-- text based logo -->
            <!-- image based logo -->
            <%= image_tag("face.png") %>
            <!-- <a class="mu-logo" href="#"><img src="assets/images/logo.jpg" alt="logo img"></a> -->
          </div>
          <!-- End center Logo -->

          <div class="mu-hero-featured-content">

            <h1>Rails Girls Costa Rica</h1>
            <h2>Segunda Edición.</h2>
            <p class="mu-event-date-line">9 y 10 de Septiembre 2017</p>

            <div class="mu-event-counter-area">
              <div id="mu-event-counter">

              </div>
            </div>

          </div>
        </div>
        <!-- End hero featured area -->

      </div>
    </div>
  </div>
</header>
<!-- End Header -->
