<!-- Start Schedule  -->
<section id="mu-schedule">
  <div class="container">
    <div class="row">
      <div class="colo-md-12">
        <div class="mu-schedule-area">

          <div class="mu-title-area">
            <h2 class="mu-title">Agenda</h2>
          </div>

          <div class="mu-schedule-content-area">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs mu-schedule-menu" role="tablist">
            <% @schedules.each do|schedule|%>
              <li role="presentation" class=""><a href="#schedule_<%=schedule.id%>" aria-controls="first-day" role="tab" data-toggle="tab"><%=schedule.name%></a></li>
            <%end%>
           </ul>
          <div class="tab-content mu-schedule-content">
           <% @schedules.each do|schedule|%>
             <div role="tabpanel" class="tab-pane fade mu-event-timeline in active" id="schedule_<%=schedule.id%>">
              <ul>
              <% schedule.schedule_details.each do |schedule_detail|%>
                <li>
                  <div class="mu-single-event">
                    <%= image_tag schedule_detail.speaker_photo  if schedule_detail.speaker %>
                    <p class="mu-event-time"><%=schedule_detail.date_name.strftime("%I:%M %P")%></p>
                    <h3><%=schedule_detail.name%></h3>
                    <% if schedule_detail.speaker %>
                      <span>By <%= schedule_detail.user_name %></span>
                    <% end %>
                  </div>
                 </li>
              <%end%>
              </ul>
             </div>
           <%end%>
          </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Schedule -->
