<%
  meta title: "Rails Girls CR ",
       description: "En su primer versión, durante dos días de nuestro taller gratuito, estaremos entrando al mágico mundo de la construcción de aplicaciones web Railsmocionate y construye cosas increíbles!",
       keywords: %w(Rails Girls Costa Rica ruby)
%>

<div class="grid-x grid-margin-x ">
  <div class="small-8 small-offset-2 parallax  principal-banner text-center">
    <%= image_tag "face.png" %>
    <h1 class="bold-title">Rails</h1>
    <h1 class="light-title">Girls</h1>
    <h2>Costa Rica</h2>
    <h3>9 y 10 de Septiembre 2017</h3>
    <a href="#inscribirse" class="suscribe suscribe-btn">Inscribirse</a>

  </div>
</div>
<div class="parallax-content">
  <div class=" info-p">
    <div class="div-info">
      <p>En su primera versión, durante dos días de nuestro taller gratuito, estaremos entrando al mágico mundo de la construcción de aplicaciones Web. ¡Railsmociónate y construye cosas increíbles!</p>
      </div>
    </div>

    <div class="grid-x grid-info">
      <div class="small-12 large-6  information-section ">
        <h3>Información</h3>
        <div class="as">
          <p class="question">Lugar del Evento:</p>
          <p>Universidad Cenfotec, Sede San Pedro</p>
          <p class="question">Fecha:</p>
          <p>9 y 10 de Septiembre del 2017</p>
        </div>
      </div>
    </div>

    <div class="grid-x grid-info ">
      <h3>Sobre Rails Girls</h3>
      <div class="columns  small-12 large-6 about">
        <%= image_tag "workshops2.jpg" %>
      </div>
      <div class="columns small-12  large-6  about ">
        <ul>
          <li>Las inscripciones son totalmente  <strong>gratuitas</strong> pero los cupos son <strong>limitados</strong>, <strong>Inscripciones</strong> <a href="#inscribirse" class="suscribe-btn">abiertas</a> </li>
          <li> <strong>Aprenderás</strong>  a diseñar, prototipar y codificar con la ayuda de nuestros tutores.</li>
          <li> <strong>Necesitas</strong>  tu propio computador (preferiblemente), curiosidad y una pizca de imaginación.</li>
          <li><strong>Quieres ayudar?</strong> Estamos buscando voluntarios y apoyos económicos
            <a href="mailto:railsrailsgirlscr@gmail.com">
              Contáctanos.</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-x grid-info ">
      <hr>
      <h3>Agenda</h3>
      <div class="row">
        <div class="columns small-12  large-6 about">
          <p><strong>Sábado, Septiembre 9, 2017 </strong></p>
        </div>
      </div>
      <div class="row">
        <div class="columns small-12  large-2"><p><strong>1:00 - 01:30pm</strong></p></div>
        <div class="columns small-12  large-10"><h6>Bienvenida</h6> <p>Queremos extender nuestra mejor bienvenida, contarte acerca del mundo rails y empezar a emprender el divertido camino del desarrollo de software.</p></div>
      </div>
      <div class="row">
        <div class="columns small-12  large-2"><p><strong>1:30- 2:00pm</strong></p></div>
        <div class="columns small-12  large-10"><h6>¿Por qué girls y Ruby On Rails? </h6> <p>Qué es Rails, cómo funciona, por qué deberían aprenderlo, por qué Girls y Ruby on Rails.</p></div>
      </div>
      <div class="row">
        <div class="columns small-12  large-2"><p><strong>2:00- 2:30pm</strong></p></div>
        <div class="columns small-12  large-10"><h6>Patrón MVC para todos</h6> <p>Conozcamos las bases del desarrollo de software web, conozcamos una de sus estructuras básicas!</p></div>
      </div>
      <div class="row">
        <div class="columns small-12  large-2"><p><strong>2:30- 3:00pm</strong></p></div>
        <div class="columns small-12  large-10"><h6>Conoce Git</h6> <p>Conozcamos la poderosa herramienta Git en el  desarrollo de software.</p></div>
      </div>
      <div class="row">
        <div class="columns small-12  large-2"><p><strong>3:00 - 3:15pm</strong></p></div>
        <div class="columns small-12  large-10"><h6>Refrigerio</h6></div>
      </div>
      <div class="row">
        <div class="columns small-12  large-2"><p><strong>3:15 - 3:45pm</strong></p></div>
        <div class="columns small-12  large-10"><h6>¿Ruby?</h6> <p>¿Magia?, Si conozcamos el lenguaje de programacion, sintaxis, paradigma, convenciones y muchos.</p></div>
      </div>
      <div class="row">
        <div class="columns small-12  large-2"><p><strong>3:45 - 5:00pm</strong></p></div>
        <div class="columns small-12  large-10"><h6>Getting started with Ruby on Rails</h6> <p>Vamos a iniciar aprendiendo como instalar, Ruby, Rails y creando nuestra primera App!</p></div>
      </div>

      <hr>

      <div class="row">
        <div class="columns small-12  large-6 about">
          <p><strong>Domingo, Septiembre 10, 2017 </strong></p>
        </div>
      </div>
      <div class="row">
        <div class="columns small-12  large-2"><p><strong>8:00 - 8:30pm</strong></p></div>
        <div class="columns small-12  large-10"><h6>¿Cómo vamos?</h6> <p>Durante el principio de la mañana revisaremos cómo vamos en el proceso de configuración del enetorno inicial.</p></div>
      </div>
      <div class="row">
        <div class="columns small-12  large-2"><p><strong>8:30- 9:30pm</strong></p></div>
        <div class="columns small-12  large-10"><h6>A programar! </h6> <p>Empezamos a programar!.</p></div>
      </div>
      <div class="row">
        <div class="columns small-12  large-2"><p><strong>9:30- 9:45pm</strong></p></div>
        <div class="columns small-12  large-10"><h6>Refrigerio</h6></div>
      </div>
      <div class="row">
        <div class="columns small-12  large-2"><p><strong>9:45- 12:00pm</strong></p></div>
        <div class="columns small-12  large-10"><h6>Seguimos programando!</h6></div>
      </div>
      <div class="row">
        <div class="columns small-12  large-2"><p><strong>12:00 - 1:00pm</strong></p></div>
        <div class="columns small-12  large-10"><h6>Almuerzo</h6></div>
      </div>
      <div class="row">
        <div class="columns small-12  large-2"><p><strong>1:00 - 2:45pm</strong></p></div>
        <div class="columns small-12  large-10"><h6>Afinemos detalles</h6> <p>Vamos a terminar con los ultimos detalles de nuestra App.</p></div>
      </div>
      <div class="row">
        <div class="columns small-12  large-2"><p><strong>2:45 - 3:00pm</strong></p></div>
        <div class="columns small-12  large-10"><h6>Refrigerio</h6> <p></p></div>
      </div>
      <div class="row">
        <div class="columns small-12  large-2"><p><strong>3:00 - 4:00pm</strong></p></div>
        <div class="columns small-12  large-10"><h6>Publiquemos</h6><p>Por último vamos a subir nuestro proyecto a internet.</p></div>
      </div>
      <div class="row">
        <div class="columns small-12  large-2"><p><strong>4:00 - 4:30pm</strong></p></div>
        <div class="columns small-12  large-10"><h6>Cierre</h6><p>Llegamos al final del evento, sin embargo, tenemos preparada la mejor despedida, muchas sorpresas y <strong>certificados.</strong></p></div>
      </div>

    </div>

    <div class="grid-x grid-info ">
      <hr>
      <div class="small-12  large-6 about">
        <h3>Preguntas Frecuentes</h3>
        <p class="question">¿Cuánto es el costo para el ingreso al workshop?</p>
        <p>
          Nada, es gratuito, sólo necesitas buenas energías y ganas de aprender!</p>
        <p class="question">¿A quién va dirigido?</p>
        <p>
          Mujeres de cualquier edad con conocimientos básicos de computación.</p>
        <p class="question">¿Pueden asistir hombres?</p>
        <p>Sí, pero la prioridad en la lista de selección es para la chicas!</p>
      </div>
    </div>
    <hr>
    <div class="grid-x sponsors-info ">
      <h3>Patrocinadores</h3>
      <div class="sponsors-grid">
        <%= image_tag "cenfotec.jpg" %>
        <p>
          La <a href="https://www.ucenfotec.ac.cr">Universidad Cenfotec</a> es una institución de educación superior privada con autonomía académica, administrativa y financiera, que tiene como fin primordial el diseño curricular y ejecución de programas para la formación y actualización de profesionales, así como la realización de programas de investigación en el campo de las tecnologías digitales.</p>
      </div>
      <div class="sponsors-grid">
        <%= image_tag "logo-ml.jpg" %>
        <p>
          <a href="https://monkeylabs.cr/">Monkey Labs</a>
          empresa dedicada a potenciar a nuestros clientes mediante soluciones tecnológicas a la medida, de la más alta calidad. Manteniendo una comunicación clara y honesta en todo momento. Nuestros servicios incluyen desarrollo y posicionamiento web,
          desarrollo de aplicaciones móviles, infraestructura, outsourcing y asesoría en toda el área de tecnologías de información.</p>
      </div>
      <div class="sponsors-grid">
        <%= image_tag "gap.png" %>
        <p>
          <a href="https://www.growthaccelerationpartners.com/">Growth Acceleration Partners (GAP)</a>
          es una empresa líder de desarrollo de software personalizado que se asocia con empresas medianas para diseñar y desarrollar aplicaciones móviles y web / cloud personalizadas.</p>
      </div>
      <div class="sponsors-grid">
        <%= image_tag "guayaba.png" %>
        <p>
          <a href="https://delaguayaba.com/">deLaGuayaba</a>
          desarrolla aplicaciones móviles y software para medir, analizar, estandarizar, optimizar y controlar las actividades en una empresa. Nuestros metodologías incluyen análisis de datos e interacción con la cultura de cada organización.</p>
      </div>
      <div class="sponsors-grid">
        <%= image_tag "logo-4g-black.png" %>
        <p>
          <a href="http://www.4geeks.io">4Geeks</a>
          es una empresa con sede en los Estados Unidos, centrada en el desarrollo de software con más de 10 años ofreciendo desarrollo de software de clase mundial (móvil, web / cloud), QA & software testing y servicios profesionales a las mejores empresas.
          Nuestras operaciones están ubicadas en Delaware, Estados Unidos y operaciones de desarrollo en Costa Rica y México.</p>
      </div>
    </div>
    <div id="inscribirse" class=" suscribe-section">
      <% if cookies[:saved_load] %>
      <h3>¡Hola, estamos emocionados por empezar!</h3>
      <h3>¡Gracias por inscribirse!</h3>
      <h3>Nos vemos este 9 y 10 de septiembre.</h3>
    <% else %>
      <div class="information">
        <%= form_with(model: Subscriber.new, local: true) do |form| %>
        <div class="field">
          <h3>Nombre completo:</h3>
          <%= form.text_field :name, id: :subscriber_name , required: true%>
        </div>

        <div class="field">
          <h3>Correo Electrónico</h3>
          <%= form.text_field :email, id: :subscriber_email, required: true %>
        </div>
        <div class="field">
          <h3>Número Telefónico</h3>
          <%= form.text_field :phone_number, id: :subscriber_email %>
        </div>
        <div class="field">
          <h3>Nivel de Conocimiento Técnico</h3>
          <%= form.select :level_knowledge, Subscriber.level_knowledges.map { |key, value| [key.humanize, key] }%>
        </div>
        <div class="field">
          <h3>¿Cómo te diste cuenta de nosotros?</h3>
          <%= form.select :source, ["Facebook",  "Twitter", "Instagram", "Otros"],
                                 promot: "¿Cómo te diste cuenta de nostros?",
                                 id: :subscriber_source %>
        </div>

        <div class="actions ">
          <%= form.submit "Enviar Inscripción" %>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="footer">
      <h4>Rails Girls Costa Rica 2017</h4>
      <div class="icons">
        <a href="https://www.facebook.com/railsgirlscr/" class="facebook" target="_blank"><i class="fa fa-facebook fa-5x" aria-hidden="true"></i></a>
        <a href="https://twitter.com/railsGirlsCr" class="twitter" target="_blank"><i class="fa fa-twitter fa-5x" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com" class="instagram" target="_blank"><i class="fa fa-instagram fa-5x" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
