<%= render 'shared/header'  %>
<section id="mu-sponsors">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-sponsors-area">

          <div class="mu-title-area">
            <h2 class="mu-title">Our Sponsors</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint assumenda ut molestias doloremque ipsam, fugit laborum totam, pariatur est cumque at, repudiandae officia ex dolores quas minus optio, iusto soluta?</p>
          </div>

          <!-- Start spnonsors brand logo -->
          <div class="mu-sponsors-content">
            <div class="row">

              <div class="col-md-2 col-sm-4 col-xs-4">
                <div class="mu-sponsors-single">
                  <%= image_tag  "sponsor-logo-1.png" %>
                </div>
              </div>

              <div class="col-md-2 col-sm-4 col-xs-4">
                <div class="mu-sponsors-single">
                  <%= image_tag  "sponsor-logo-2.png" %>
                </div>
              </div>

              <div class="col-md-2 col-sm-4 col-xs-4">
                <div class="mu-sponsors-single">
                  <%= image_tag  "sponsor-logo-3.png" %>
                </div>
              </div>

              <div class="col-md-2 col-sm-4 col-xs-4">
                <div class="mu-sponsors-single">
                  <%= image_tag  "sponsor-logo-4.png" %>
                </div>
              </div>

                <div class="col-md-2 col-sm-4 col-xs-4">
                <div class="mu-sponsors-single">
                  <%= image_tag  "sponsor-logo-5.png" %>
                </div>
              </div>

              <div class="col-md-2 col-sm-4 col-xs-4">
                <div class="mu-sponsors-single">
                  <%= image_tag  "sponsor-logo-6.png" %>
                </div>
              </div>

              <div class="col-md-2 col-sm-4 col-xs-4">
                <div class="mu-sponsors-single">
                  <%= image_tag  "sponsor-logo-7.png" %>
                </div>
              </div>

              <div class="col-md-2 col-sm-4 col-xs-4">
                <div class="mu-sponsors-single">
                  <%= image_tag  "sponsor-logo-8.png" %>
                </div>
              </div>

              <div class="col-md-2 col-sm-4 col-xs-4">
                <div class="mu-sponsors-single">
                  <%= image_tag  "sponsor-logo-9.png" %>
                </div>
              </div>

                <div class="col-md-2 col-sm-4 col-xs-4">
                <div class="mu-sponsors-single">
                  <%= image_tag  "sponsor-logo-1.png" %>
                </div>
              </div>

              <div class="col-md-2 col-sm-4 col-xs-4">
                <div class="mu-sponsors-single">
                  <%= image_tag  "sponsor-logo-2.png" %>
                </div>
              </div>

              <div class="col-md-2 col-sm-4 col-xs-4">
                <div class="mu-sponsors-single">
                  <%= image_tag  "sponsor-logo-3.png" %>
                </div>
              </div>

            </div>
          </div>
          <!-- End spnonsors brand logo -->

        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/footer'  %>
