<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header text-center">
        <h4 class="title">Rails Girls Admin</h4>
        <p class="category"></p>
        <br>
      </div>
      <div class="content table-responsive table-full-width">
        <% if @sponsors.present? %>
            <table id="sponsors" class="table table-hover">
              <thead>
                <tr>
                  <th>Imagen</th>
                  <th>Nombre/Descripción</th>
                  <th>Opciones</th>
                </tr>
              </thead>

              <tbody>
                <% @sponsors.each do |sponsor| %>
                <tr>
                  <td class="row-img" style="width:  150px;"><%= image_tag sponsor.logo %></td>
                  <td WIDTH="800"> <%= sponsor.name %> </br> <%= sponsor.description%></td>
                  <td><%= link_to 'Editar', edit_admin_sponsor_path(sponsor) %>/<%= link_to 'Eliminar', admin_sponsor_path(sponsor), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
        <% else %>
          <p>Aún no hay patrocinadores</p>
        <% end %>
        <%= link_to 'Crear Patrocinador', new_admin_sponsor_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
