<div class="wrapper">
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="header text-center">
              <h4 class="title">Rails Girls Admin</h4>
            </div>
            <div class="content">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="row">
                  <div class="medium-6 columns">
                    <%= f.label :email %><br/>
                    <%= f.email_field :email, autofocus: true %>
                  </div>
                  <div class="medium-6 columns">
                    <div class="field">
                      <%= f.label :password %><br/>
                      <%= f.password_field :password, autocomplete: "off" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <br>
                  <div class="small-3 small-centered columns">
                    <%= f.submit "Iniciar Session", class: "button expanded success" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
