<div class="row">
  <div class="col-md-4">
    <div class="card">

      <div class="header">
        <h4 class="title">Current Event</h4>
        <p class="category"><%= @event.map(&:title).last %></p>
      </div>
      <div class="content">
        <div class="ct-chart ct-perfect-fourth">
          <%= pie_chart @event.group_by_day(:created_at, format: "%B %d, %Y").count, discrete: true %>
        </div>

        <div class="footer">
          <div class="legend">
            <i class="fa fa-circle text-info"></i>
            <i class="fa fa-circle text-danger"></i>
            <i class="fa fa-circle text-warning"></i>
          </div>
          <hr>
          <div class="stats">
            <i class="fa fa-clock-o"></i> <%= @event.map(&:updated_at).last %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card">
      <div class="header">
        <h4 class="title">Subscribers</h4>
        <p class="category">Subscribers in last 24 h</p>
      </div>
      <div class="content">
        <div  class="ct-chart">
          <%= area_chart @subscribers.group_by_day(:created_at).count %>

        </div>
        <div class="footer">
          <div class="legend">
            <i class="fa fa-circle text-info"></i>
            <i class="fa fa-circle text-danger"></i>
            <i class="fa fa-circle text-warning"></i>
          </div>
          <hr>
          <div class="stats">
            <i class="fa fa-history"></i><%= @subscribers.map(&:created_at).last %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
