<h1>Admin</h1>

<p class="navbar-text pull-right">
<% if current_user %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>

<div class="row"><div class="small-3 large-centered columns"> <h2><h1>Subscribers</h1></h2></div></div>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Source</th>
      <th>Nivel</th>
      <th># telefono</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subscribers.each do |subscriber| %>
      <tr>
        <td><%= subscriber.name %></td>
        <td><%= subscriber.email %></td>
        <td><%= subscriber.source %></td>
        <td><%= subscriber.level_knowledge %></td>
        <td><%= subscriber.phone_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
