<div class="row">
  <%= form_with(model: [:admin, @speaker], multipart: true) do |f| %>
    <% if @speaker.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(speaker.errors.count, "error") %> prohibited this event from being saved:</h2>
        <ul>
        <% @speaker.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <%= f.hidden_field :role,  value: 'speaker' %>
  <%= f.fields_for :profile do |profile| %>
  <div class="col-md-8">
    <div class="card">
      <div class="header">
        <h4 class="title">Speakers</h4>
      </div>
      <div class="content">
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <%= profile.label :career %>
                <%= profile.text_field :career, class: "form-control"%>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, class: "form-control"%>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, class: "form-control"%>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= profile.label :first_name %>
                <%= profile.text_field :first_name, class: "form-control"%>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= profile.label :last_name %>
                <%= profile.text_field :last_name, class: "form-control"%>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= profile.label :address %>
                <%= profile.text_field :address, class: "form-control"%>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <%= profile.label :fb_link %>
                <%= profile.text_field :fb_link, class: "form-control"%>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <%= profile.label :twitter_link %>
                <%= profile.text_field :twitter_link, class: "form-control"%>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <%= profile.label 'Linkedin link' %>
                <%= profile.text_field :linkedin, class: "form-control"%>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= profile.label :about_me %>
                <%= profile.text_area :about_me, class: "form-control"%>
              </div>
            </div>
          </div>
          <%= f.submit 'Save', class: 'btn btn-info btn-fill pull-right'%>
          <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="<%= @speaker&.profile&.show_background %>" alt="..."/>
      </div>
      <div class="content">
        <div class="author">
             <%= show_avatar(@speaker) %>
             <label class="upload-avatar">
              <%= profile.file_field :avatar, accept: 'image/png,image/gif,image/jpeg', value: 'Upload', id: 'load_image'%>
              Change Photo
            </label>
            <h4 class="title"><%= @speaker.full_name %> <br/>
              <small> <%= @speaker&.profile.username  %></small>
            </h4>
        </div>
        <p class="description text-center">
          <%= @speaker&.profile&.about_me %>
        </p>
      </div>
      <hr>
      <div class="text-center">
        <a href="<%= @speaker&.profile&.fb_link %>" class="btn btn-simple" target="_blank"><i class="fa fa-facebook-square"></i></a>
        <a href="<%= @speaker&.profile&.twitter_link %>" class="btn btn-simple" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="<%= @speaker&.profile&.linkedin %>" class="btn btn-simple" target="_blank"><i class="fa fa-linkedin-square"></i></a>
      </div>
    </div>
  </div>
  <% end %>
<% end %>

</div>
