<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header text-center">
        <h4 class="title">Rails Girls Admin</h4>
        <p class="category"></p>
        <br>
      </div>
      <div class="content table-responsive table-full-width">
        <% if @speakers.present? %>
            <table id="speakers" class="table table-hover">
              <thead>
                <tr>
                  <th>Photo</th>
                  <th>Name/Bio</th>
                  <th>Actions</th>
                </tr>
              </thead>

              <tbody>
                <% @speakers.each do |speaker| %>
                <tr>
                  <td class="row-img" style="width:  150px;"><%= image_tag speaker.profile.avatar %></td>
                  <td WIDTH="800"> <%= speaker.full_name %> </br> <%= speaker.profile.about_me %></td>
                  <td><%= link_to 'Edit', edit_admin_user_path(speaker) %>/<%= link_to 'Destroy', admin_user_path(speaker), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
        <% else %>
          <p>You don't have any speakers yet.</p>
        <% end %>
        <%= link_to 'Add Speaker', new_admin_user_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
